<mat-card>
    <mat-form-field style="padding-right: 20px;">
        <input matInput [matDatepicker]="picker1" placeholder="Choose min date"
               (dateInput)="verifySalesMin($event)" (dateChange)="verifySalesMin($event)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Choose max date"
               (dateInput)="verifySalesMax($event)" (dateChange)="verifySalesMax($event)">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

  <div 
    id="map-id" 
    leaflet
    (leafletMapReady)="onMapReady($event)"
    [leafletOptions]="options"
  >
    <!--<div *ngFor="let marker of markers"-->
         <!--[leafletLayer]="marker">-->
    <!--</div>-->
  </div>

  <div class="maps-button">
    <button mat-fab 
            style="margin-right: 32px;"
            matTooltip="Elimina ultimo marker"
            (click)='removeLastAddedMarker()'>
      <mat-icon style="color: #FFFFFF">location_off</mat-icon>
    </button>
    <button mat-fab 
             style="margin-left: 32px;"
             matTooltip="Elimina tutti i markers"
            (click)='removeAllMarkers()'>
      <mat-icon style="color: #FFFFFF">clear</mat-icon>
    </button>
  </div>
</mat-card>
