<mat-card>
    <mat-card-title>
        Filtra per data
    </mat-card-title>
    <mat-form-field style="padding-right: 20px;">
        <input matInput [matDatepicker]="picker1" placeholder="Scegli data di inizio"
               (dateInput)="updateSalesMin($event)" (dateChange)="updateSalesMin($event)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Scegli data di fine"
               (dateInput)="updateSalesMax($event)" (dateChange)="updateSalesMax($event)">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <button mat-mini-fab
            style="margin-left: 32px;"
            matTooltip="Filtra per data"
            (click)='verifySales()'>
        <mat-icon style="color: #FFFFFF">search</mat-icon>
    </button>
</mat-card>

<mat-card>
    <mat-card-title>
        Mappa
    </mat-card-title>
  <div 
    id="map-id" 
    leaflet
    (leafletMapReady)="onMapReady($event)"
    [leafletOptions]="options"
  >
    <!--<div *ngFor="let marker of markers"-->
         <!--[leafletLayer]="marker">-->
    <!--</div>-->
  </div>

  <div class="maps-button">
    <button mat-fab
            style="margin-right: 32px;"
            matTooltip="Elimina ultimo marker"
            (click)='removeLastAddedMarker()'>
      <mat-icon style="color: #FFFFFF">location_off</mat-icon>
    </button>
    <button mat-fab 
             style="margin-left: 32px;"
             matTooltip="Elimina tutti i markers"
            (click)='removeAllMarkers()'>
      <mat-icon style="color: #FFFFFF">clear</mat-icon>
    </button>
  </div>
</mat-card>
