<mat-card>
  <div 
    id="map-id" 
    leaflet
    (leafletMapReady)="onMapReady($event)"
    [leafletOptions]="options"
  >
    <div *ngFor="let marker of markers"
         [leafletLayer]="marker">
    </div>
  </div>

  <div class="maps-button">
    <button mat-fab 
            style="margin-right: 32px;"
            matTooltip="Elimina ultimo marker"
            (click)='removeLastAddedMarker()'>
      <mat-icon style="color: #FFFFFF">location_off</mat-icon>
    </button>
    <button mat-fab 
             style="margin-left: 32px;"
             matTooltip="Elimina tutti i markers"
            (click)='removeAllMarkers()'>
      <mat-icon style="color: #FFFFFF">clear</mat-icon>
    </button>
  </div>
</mat-card>
