<div>
    <mat-toolbar color="primary"> <!-- Inizio della toolbar -->
      <p style="padding: 64px;">Acquista posizioni</p>
      <span class="fill-remaining-space"></span>
      <!-- <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>-->
      <button mat-icon-button style="margin: 4px;">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button style="margin: 4px;">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </mat-toolbar> <!-- Fine della toolbar -->

    <!-- <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item id="menu-item">Informazioni profilo</button>
      <button mat-menu-item id="menu-item">Logout</button>
    </mat-menu> -->

    <div class="bg-map-div"> <!-- Inizio della divisione con la mappa -->
      <app-map></app-map>
    </div> <!-- Fine della divisione con la mappa -->

    <div class="bg-form-div"> <!-- Inizio della divisione del form -->
      <mat-card class="bg-form-card" >
        <mat-card-title>
          Posizioni
        </mat-card-title>
        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Scegli un'area">
            <ng-template matTabContent>
              <app-choose-area></app-choose-area>
            </ng-template>
          </mat-tab>
          <mat-tab label="Posizioni acquistate">
            <ng-template matTabContent>
              <app-positions-bought></app-positions-bought>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div> <!-- Fine della divisione del form -->
</div>