.container-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

.container-column {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-content: center;
}

.container-item {
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.container-item > * {
  width: 100%;
}

mat-slider {
  width: 300px;
}