<div class="container">
  <p>Scegli il numero di punti per disegnare un'area</p>
  <mat-slider 
    thumbLabel 
    [displayWith]="formatLabel" 
    tickInterval="1" min="3" max="10"
    (input)='pitch($event)'  
  ></mat-slider>
  <ul id="no-bullet-ul">
      <li *ngFor="let position of positions; let i = index;">
        <div class="container-row"> <!-- Inizio del container della riga -->
          <div class="container-item"><!-- Inizio container della singola casella di input -->
            <mat-form-field appearance="outline">
              <mat-label>Latitudine vertice #{{i + 1}}</mat-label>
              <input matInput [formControl]="position.latitudeFormControl" (input)="position.positionValue.latitude = $event.target.value" placeholder="Latitudine">
              <mat-icon matSuffix>place</mat-icon>
              <mat-error *ngIf="position.latitudeFormControl.invalid">{{position.getErrorMessageLatitude()}}</mat-error>
            </mat-form-field>
          </div> <!-- Fine container della singola casella di input -->
          <div class="container-item"> <!-- Inizio container della singola casella di input -->
            <mat-form-field appearance="outline">
              <mat-label>Longitudine vertice #{{i + 1}}</mat-label>
              <input matInput [formControl]="position.longitudeFormControl" (input)="position.positionValue.longitude = $event.target.value" placeholder="Longitudine">
              <mat-icon matSuffix>place</mat-icon>
              <mat-error *ngIf="position.longitudeFormControl.invalid">{{position.getErrorMessageLongitude()}}</mat-error>
            </mat-form-field>
          </div> <!-- Fine container della singola casella di input -->
        </div> <!-- Fine del container della riga -->
      </li>
  </ul>

  <button mat-fab (click)='submit()'>
    <mat-icon style="color: #FFFFFF">done</mat-icon>
  </button>
</div>
