<div class="container">
  <p>Scegli il numero di punti per disegnare un'area</p>
  <mat-slider 
    thumbLabel 
    [displayWith]="formatLabel" 
    tickInterval="1" min="3" max="10"
    (input)='pitch($event)'  
  ></mat-slider>
  <div class="container-column">
      <ul id="no-bullet-ul">
          <li *ngFor="let position of getPositions(numberOfVertices); let i = index;">
            <div class="container-row"> <!-- Inizio del container della riga -->
              <div class="container-item"><!-- Inizio container della singola casella di input -->
                <mat-form-field appearance="outline" ng-model="position.positionValue.latitude">
                  <mat-label>Latitudine vertice #{{i + 1}}</mat-label>
                  <input matInput [formControl]="position.latitudeFormControl" placeholder="Latitudine">
                  <mat-icon matSuffix>place</mat-icon>
                  <mat-error *ngIf="position.latitudeFormControl.invalid">{{position.getErrorMessageLatitude()}}</mat-error>
                </mat-form-field>
              </div> <!-- Fine container della singola casella di input -->
              <div class="container-item"> <!-- Inizio container della singola casella di input -->
                <mat-form-field appearance="outline" ng-model="position.positionValue.longitude">
                  <mat-label>Longitudine vertice #{{i + 1}}</mat-label>
                  <input matInput [formControl]="position.longitudeFormControl" placeholder="Longitudine">
                  <mat-icon matSuffix>place</mat-icon>
                  <mat-error *ngIf="position.longitudeFormControl.invalid">{{position.getErrorMessageLongitude()}}</mat-error>
                </mat-form-field>
              </div> <!-- Fine container della singola casella di input -->
            </div> <!-- Fine del container della riga -->
          </li>
      </ul>
  </div>

  <button mat-fab (click)='submit()'>
    <mat-icon style="color: #FFFFFF">done</mat-icon>
  </button>
</div>
